<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Todos</title>

    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
</head>

<body>
    <div class="todoapp">
        <header class="header">
            <h1>todos</h1>
            <input class="new-todo" autofocus placeholder="What needs to be done?" v-model="newTodo"
                @keyup.enter="addTodo" />
        </header>

        <section class="main" v-show="getTodos.length" v-cloak>
            <input id="toggle-all" class="toggle-all" type="checkbox" v-model="allDone" />
            <label for="toggle-all"></label>
            <ul class="todo-list">
                <li v-for="todo in filteredTodos" class="todo" :key="todo.id"
                    :class="{ completed: todo.completed, editing: compareEditedTodo(todo) }">
                    <div class="view">
                        <input class="toggle" type="checkbox" v-model="todo.completed" />
                        <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
                        <button class="destroy" @click="removeTodo(todo)"></button>
                    </div>
                    <input class="edit" type="text" v-model="todo.title" v-todo-focus="compareEditedTodo(todo)"
                        @blur="doneEdit(todo)" @keyup.enter="doneEdit(todo)" @keyup.esc="cancelEdit(todo)" />
                </li>
            </ul>
        </section>

        <footer class="footer" v-show="getTodos.length" v-cloak>
            <span class="todo-count">
                <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
            </span>
            <ul class="filters">
                <li>
                    <a href="#/all" :class="{ selected: visibility == 'all' }">All</a>
                </li>
                <li>
                    <a href="#/active" :class="{ selected: visibility == 'active' }">Active</a>
                </li>
                <li>
                    <a href="#/completed" :class="{ selected: visibility == 'completed' }">Completed</a>
                </li>
            </ul>
            <button class="clear-completed" @click="removeCompleted" v-show="getTodos.length > remaining">
                Clear completed
            </button>
        </footer>
    </div>

    <script src="static/js/vue.js"></script>
    <script src="static/js/vuex.js"></script>
    <script src="static/js/index.js"></script>
</body>

</html>